html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* Les polices */
@font-face {
    font-family: 'beyno';
    src: url("police/BEYNO.ttf");
}
@font-face {
    font-family: 'cantarell';
    src: url("police/Cantarell-Regular.ttf");
}
@font-face {
    font-family: 'panthera';
    src: url("police/PantheraRegular-MVZ9J.ttf");
}
@font-face {
    font-family: 'wakanda';
    src: url("police/WakandaForever-Regular.ttf");
}

/* Ajout de l'image de fond */
body {
    background-image: url("All-pages/arrière_plan.png");
    background-size: cover;
    color: white;
}

 /*animation globale*/
header,
main,
footer,
.icon-box,
.line-left,
.line-right {
    animation: slide 2s ease-in forwards;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Ajout des icônes de réseaux sociaux en haut à gauche*/
    .icon-box {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        width: 2%;
        height: 25%;
        top: 40%;
        margin-left: 1.8%;
        z-index: 3;
    }
    
    .icon-box img {
        display: flex;
        width: 100%;
        height: auto;
    }
        .icon-box img:hover {
            filter: invert(0%) sepia(100%) saturate(0%) brightness(200%) hue-rotate(360deg) contrast(150%);
        } 

/* Mise en place et mise en forme des traits verticaux */
.line-left, .line-right {
    position: fixed;
    top: 0;
    width: 2px;
    background-color: #d77ef0c9;
    z-index: 3;
}

  .line-left {
    margin-left: 1.1%;
    height: 65.5%;
  }
  
  .line-right {
    margin-left: 2.8%;
    height: 38%;
  }

/* Mise en forme des éléments du header */
    /* Ajout des styles pour les rubriques*/
header {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
}
    .menu li a {
        color: white;
        text-decoration: none;
    }

    .menu li a:hover {
        text-decoration: underline;
    }

    .menu li a.active {
        text-decoration: underline;
        color: #c179d3c9;
    }

    /* Positionnement des éléments du header*/
    .navigation {
        position: relative;
        display: flex;
        width: 100%;
        padding: 20px;
    }

    header nav a {
        margin-left: 5%;
    }

    .menu {
        display: flex;
        position: absolute;
        right: 8%;
    }

    .menu ul li {
        display: inline-flex;
        padding-left: 120px;
    }

/* La première section */
section {
    position: relative;
    display: flex;
}
    .black-panther {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 40%;
        left: 120px;
        top: 50px;
        transform: scale(0.7);
        text-align: justify;

    }
        .panther-home {
            position: relative;
            display: flex;
            justify-content: center;
            text-align: center;
            width: 50%;
            height: 575px;
            left: 5%;
            }

            img #panther-home {
                position: absolute;
                width: 100%;
                height: auto;
            }

/* Mise en forme de la section de personnages */
.characters {
    width: 100%;
    height: 300px;
    display: flex;
    position: relative; 
}
    .characters-containers {
        position: relative;
        margin-left: 10%;
        width: 100%;
        height: 280px;
        display: flex;
        background-color: #031436;
        border: 1px solid green;
        
    }
        .characters-containers div {
            flex-direction: column;
            width: 100%;
            height: auto;
            transform: scale(0.7);
            padding: 0;
            margin: 2px;
            text-align: justify;
        }
        
        .characters-containers img {
            display: flex;
            padding: 0;
            margin: 0;
            width: auto;
            height: 100%;
            width: auto;
            transition: 0.2s ease;
        }

        .characters-containers img:first-child {
            margin-left: 3%;

        }
            .characters-containers img:hover {
                transform: scale(1.1);
                z-index: 1;
            }

/* Section sur l'historique*/
.story-profil {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

/* La partie gauche du contenu */
.story-left {
    width: 40%;
    text-align: justify;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10%;

}

/* La partie droite du contenu */
.profil-right {
    position: relative;
    width: 600px;
    position: relative;
    flex-direction: column;
    float: right;
    margin-right: 5%;
}
    .profil-right div:first-child {
        height: 1100px;
    }
    .profil-right div:last-child {
        text-align: center;
    }

    .black-profil {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .black-profil img {
            display: flex;
            position: absolute;
            z-index: 1;
            width: 350px;
        }

        /* La partie blanche contenant les informations sur T'Challa */
        .profil {
            position: absolute;
            width: 425px;
            height: 800px;
            margin-top:200px;
            background-color: #fff;
            border-radius: 20px;
            color: black;
            text-align: left;
            justify-content: left;
        }

        .profil p,
        .profil li {
            margin: 10px;
            font-size: 16px;
            z-index: 0;
            color: black;
        }
            .profil p:first-child {
                margin-top: 300px;
            }


/* Le formulaire */
.formulaire {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulaire h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
  }

  
/* Mise en forme du footer et de ses éléments*/
footer {
    position: relative;
    background-image: url("All-pages/back_footer.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

/* Premier élément du footer*/
.f1 {
    position: relative;
    background-image: url("All-pages/footer1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transform: scale(0.7);
    transition: 0.3s ease;
    margin-left: 20%;
}
    .f1 a {
        object-fit: contain;
        align-items: center;
        justify-content: center;
    }

        .footer-image {
            margin-bottom: 40px;
        }

.f1:hover {
    transform: scale(0.8);
}

/* Deuxième élément du footer */
    .f2 {
        position: relative;
        display: flex;
        width: 40%;
        height: 250px; 
        right: 5%;
        transform: scale(0.9);
    }

    .f21 {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        padding-right:150px;
        padding-left: 80px; 
    }
        .f21 a {
            text-decoration: none;
            color: white;
        }
            .f21 a:hover {
                text-decoration: underline;
            }
    
    .f22 {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
    }
        .f22 .social-network-footer {
            padding: 7px 0 7px 0;
            transform: scale(0.8);
            transition: 0.2s ease;
        }
        .f22 .social-network-footer:hover {
            transform: scale(0.9);
        }
            .f22 > div {
                display: inline-block;
            }

    .f23 {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 120px;
        margin-left: 100px;
    }
    

/* Les styles de texte et police */
h1 {
    font-family: 'panthera';
    font-size: 68px;
    color: #9E91B7 ;
}

    h2 {
        font-family: 'beyno';
        font-size: 32px;
        color: #9E91B7 ;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .contenu {
        font-family: 'cantarell';
        font-size: 16px;
        color: #FFFF;
    }

.menu{
        font-family: 'beyno';
        font-size: 32px;
    }

    #footer-title {
        font-family: 'cantarell';
        font-size: 22px;
        letter-spacing: 28%;
    }

    footer {
        font-family: 'cantarell';
        font-size: 10px;
    }

    #cantarell-14 {
        font-family: 'cantarell';
        font-size: 14px;
    }
