html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* Ajout de l'image de fond */
body {
    background-image: url("All-pages/arrière_plan.png");
    background-size: cover;
    color: white;
}

 /*animation globale*/
header,
main,
footer {
    animation: slide 2s ease-in forwards;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Mise en forme des éléments du header */
    /* Ajout des styles pour les rubriques*/
    .menu li a {
        color: white;
        text-decoration: none;
    }

    .menu li a:hover {
        text-decoration: underline;
    }

    .menu li a.active {
        text-decoration: underline;
        color: #800080;
    }

    /* Positionnement des éléments du header*/
    .navigation {
        position: relative;
        display: flex;
        align-items: center;
        width: 85%;
        margin: auto;
        padding: 20px;
    }

    .menu {
        display: flex;
        margin-left: 20%;
        margin-right: 0;
    }

    .menu ul li {
        display:inline-flex;
        padding: 0 50px 0 50px;
    }

/* Mise en forme du footer et de ses éléments*/
    footer {
        position: relative;
        background-image: url("All-pages/back_footer.png");
        background-size: cover;
        display: flex;
        align-items: center;
    }

    /* Premier élément du footer*/
    .f1 {
        position: relative;
        background-image: url("All-pages/footer1.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        transform: scale(0.7);
        transition: 0.3s ease;
        margin-left: 20%;
    }
        .f1 a {
            object-fit: contain;
            align-items: center;
            justify-content: center;
        }

            .footer-image {
                margin-bottom: 40px;
            }

    .f1:hover {
        transform: scale(0.8);
    }

/* Mise en forme de contenu*/
section {
    position: relative;
    display: flex;
}

/* Mise en forme des polices*/
h1 {
    font-family: 'panthera';
    font-size: 68px;
}

    h2 {
        font-family: 'beyno';
        font-size: 32px;
    }
    h3 {
        font-family: 'wakanda';
        font-size: 43px;
    }

    .contenu {
        font-family: 'cantarell';
        font-size: 16px;
    }
    

    /* Deuxième élément du footer */
    .f2 {
        position: relative;
        display: flex;
        width: 40%;
        height: 250px; 
        right: 5%;
        transform: scale(0.9);
    }

    .f21 {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        padding-right:150px;
        padding-left: 80px; 
    }
        .f21 a {
            text-decoration: none;
            color: white;
        }
            .f21 a:hover {
                text-decoration: underline;
            }
    
    .f22 {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
    }
        .f22 .social-network-footer {
            padding: 7px 0 7px 0;
            transform: scale(0.8);
            transition: 0.2s ease;
        }
        .f22 .social-network-footer:hover {
            transform: scale(0.9);
        }
            .f22 > div {
                display: inline-block;
            }

    .f23 {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 120px;
        margin-left: 100px;
    }
    
    /* Les polices */

    @font-face {
        font-family: 'beyno';
        src: url("police/BEYNO.ttf");
    }
    @font-face {
        font-family: 'cantarell';
        src: url("police/Cantarell-Regular.ttf");
    }
    @font-face {
        font-family: 'panthera';
        src: url("police/PantheraRegular-MVZ9J.ttf");
    }
    @font-face {
        font-family: 'wakanda';
        src: url("police/WakandaForever-Regular.ttf");
    }

    .menu{
        font-family: 'beyno';
        font-size: 32px;
    }

    #footer-title {
        font-family: 'cantarell';
        font-size: 22px;
        letter-spacing: 28%;
    }

    footer {
        font-family: 'cantarell';
        font-size: 10px;
    }

    #cantarell-14 {
        font-family: 'cantarell';
        font-size: 14px;
    }

    .formulaire {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .container h2 {
        text-align: center;
      }
      
      .form-group {
        margin-bottom: 20px;
      }
      
      .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      
      .form-group input,
      .form-group textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .form-group textarea {
        height: 100px;
      }
      
      .btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
      }
      
      .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 9999;
      }
  